{% extends 'layout.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">My Todo List</h1>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="input-group mb-3">
                    {{ form.title(class="form-control", placeholder="Title") }}
                    {{ form.description(class="form-control", placeholder="Description") }}
                    <div class="input-group-append">
                        {{ form.submit(class="btn btn-outline-primary") }}
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-7 mx-auto">
            <ul class="list-group">
                {% for task in tasks %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ task.title }}
                        <div class="btn-group">
                            <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Edit/Delete
                            </button>
                            <ul class="dropdown-menu">
                              <li>
                                <a href="{{ url_for('edit_task', task_id=task.id) }}" class="btn btn-danger btn-sm">Edit</a>
                              </li>
                              <li>
                                <form action="{{ url_for('delete_task', task_id=task.id) }}" method="POST">
                                    <button class="btn btn-danger btn-sm">Delete</button>
                                </form>
                              </li>
                            </ul>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}